<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
                <typeAlias alias="Customer" type="pojo.Customer" />
                <typeAlias alias="Layanan" type="pojo.Layanan" />
                <typeAlias alias="Produk" type="pojo.Produk" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<!--<property name="driver" value="com.mysql.jdbc.Driver" />-->
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/petcare?useSSL=false" />
				<property name="username" value="root" />
				<property name="password" value="" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
                <mapper resource="mybatis/mapper/customer.xml" />
                <mapper resource="mybatis/mapper/layanan.xml" />
                <mapper resource="mybatis/mapper/produk.xml" />
	</mappers>
</configuration>

